@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0E185F;
}

.footer {
  color: #E8FFC2;
  display: flex;
  padding: 2rem 0;
  border-top: 2px solid #0E185F;
  justify-content: space-around;
  align-items: center;
  background-color: #2FA4FF;
}
.text {
  font-family: 'Roboto Mono', monospace;
  padding: 0 1rem;
  text-align: center;
  color: #E8FFC2;
}
.container {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.image {
  max-height: 23rem; 
  text-align: center;
}

.title {
  color: #00FFDD;
  font-size: 2rem;
  font-family: "Press Start 2P", Courier, monospace;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  border-radius: 2px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  background-color: #E8FFC2;
  border: 2px solid #E8FFC2;
  color: #0E185F;
  font-size: 16px;
  padding: 15px 7px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}
.button:hover {
  color: #00FFDD;
  background-color: #0E185F;
  border: 2px solid #00FFDD;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 2.1rem;
  }
}